img {
    height: 50px;
    width: 50px;
}#date {
    font-size: medium;
    margin: auto;
    text-align: center;
}
#clock {
    font-size: medium;
    width: 100%;
    margin: auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
  }
  #stav {
      font-size: large;
  }
